@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@800&display=swap');

:root {
    --primary-black: #1b1612;
    --secondary-black: #383532;
    --primary-orange: #a35218;
    --yellow-orange: #f8a73f;
    --primary-beige:#e6dccc;
    --light-beige: #f5eee4;
    --gray-green: #b8b8ad;
}

body{
    display: block;
    margin: 0%;
    padding: 0%;
    background-color: aliceblue;
    color: var(--primary-black);
    font-family: 'Montserrat';
    background-color: var(--light-beige);
}

.nav{
    display: block;
    margin: 0%;
    padding: 0%;
    padding-bottom: 1rem ;
    margin-bottom: 1rem;
    color: var(--secondary-black);
    background-color: --light-beige;
    border-radius:0px 0px 20px 20px;
    width: 100%;
    box-shadow: 2px 2px var(--secondary-black);
}

.nav-brand{
    display: block;
    margin: 0%;
    padding-top: 1rem;
    padding-left: 1rem;
    color: var(--secondary-black);
    text-align: left;
    font-size: large;
}

#title{
    color: var(--secondary-black);
}

.container{
    margin: auto;
    padding: 3rem;
    text-align: left;
    max-width: 800px;
}

.unordered{
    list-style: none;
    text-align: left;
}

.section{
    padding: 0%;
    margin: 0%;
    background-color: var(--gray-green);
}

.section-center{
    padding: 10vh;
    margin: 0%;
    background-color: var(--gray-green);
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--primary-black);   
}

.primary-bt{
    text-decoration: none;
    color: var(--primary-beige);
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--primary-black);
    background-color: var(--primary-black);
    border-radius: 10px;
}

.parallax{
    background-image: url('assests/parallax.png');
    background-attachment: fixed;
    background-position: center center ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 500px;
}

.te{
    min-height: 800px;
    background-color: aliceblue;
}

.parallax-text{
    position: relative;
    top: 50%;
    text-align: center;
    display: block;
    margin: auto;
    border: 4px solid var(--primary-beige);
    min-height: 300px;
    max-height: 500px;
    max-width: 800px;
    transform: translateY(90px);
    text-align: center;
}
#title-para{
    font-family: 'Montserrat';
    font-size: 2rem;

}

.title-brand{
    font-family: 'Shadows Into Light';
    font-size: 5rem;
}

.card{
    margin: auto;
    margin-top: 20px;
    max-height:300px;
    max-width: 800px;
    height: 300px;
    width: 800px;
    /*border: 3px solid var(--primary-beige);*/
    border-radius: 10px;
    text-align: center;
    transform-style:preserve-3d;
    transform: translateZ(0);
}

.card1{
    margin: auto;
    margin-top: 20px;
    max-height:300px;
    max-width: 800px;
    height: 300px;
    width: 800px;
    border: 3px solid var(--primary-beige);
    border-radius: 10px;
    text-align: center;
    transform-style:preserve-3d;
    transform: translateZ(0);
}

.card h1{
    transform: translateZ(200px);
}

.card1 h1{
    transform: translateZ(0px);
}

.paper-effect{
    display: block;
    margin: auto;
    padding: 100px;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.title-brand-paper{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paper-effect span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    color: #740e33;
    position: relative;
    text-shadow: -1px 0 0 rgba(0,0,0,.2);
    font-size: 100px;
}

.paper-effect span::before{
    content: attr(data-title);
    position: absolute;
    top: 0; 
    left: 0;
    transform-origin: left;
    color: #fff;
    transition: .5s cubic-bezier(0,1.88,.83,.67);
    transform: rotateY(25deg);
    z-index: 2;
}

.paper-effect span::after{
    content: attr(data-title);
    position: absolute;
    top: 0; 
    left: 0;
    transform-origin: left;
    color: rgba(0,0,0,.1);
    transition: .5s cubic-bezier(0,1.88,.83,.67);
    transform: rotateY(5deg) scale(1.07, 1) skewY(3deg);
    z-index: 1;
    opacity: .5;
}

.paper-effect span:hover::before
{
    transform: perspective(1000px) rotateY(-45deg);
}
.paper-effect span:hover::after
{
    transform: rotateY(0deg) scale(1.11, 1) skewY(6deg);
}

.clipped{
    margin: 0;
    background: url('https://images.pexels.com/photos/1144687/pexels-photo-1144687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') fixed;
    -webkit-text-fill-color: transparent;
    background-clip:text;
    -webkit-background-clip: text;
    font-family: 'Montserrat';
    text-align: center;
}

.author{
    margin: 0;
    text-transform: uppercase !important;
    font-weight: bolder;
    font-size: 400px;
}

.input-color{
    padding: 2vh;
    margin: 2vh;
    text-align: center;
}

.input-color span{
    padding-right: 10vh;
}

#color{
    padding: 0.2vh;
    width: 5vh;
    height: 5vh;
    text-decoration: none;
    border-radius: 1vh;
    position: relative;
    border: none;
}

#bgcolor{
    padding: 0.2vh;
    width: 5vh;
    height: 5vh;
    text-decoration: none;
    border-radius: 1vh;
    border: none;
    
}

.change{
    padding: 2vh;
    margin: 5vh;
    background-color: var(--yellow-orange);
    border: none;
    border-radius: 1vh;
    color: #fff;
    font-size: medium;
}
/*---day 6 Cards (date 03/01/2021)---*/

.block{
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.element{
    width: 40%;    
    margin: 4%;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,.5);
}
.element:hover{
    box-shadow: 0px 30px 50px -15px rgba(0,0,0,.3);
    transform: translateY(-2px) translateZ(30px);
}

.element-bg{
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-top: 123%;
    
    background-size: cover;
    background-repeat: no-repeat;
}

.element-para{
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.52rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #505050;
}

.element-header{
    padding-top: 0.35em;
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-bottom: 0.65em;
    font-size: 2rem;
    color: #2b2b2b;
    font-weight: bold;
}

.element-bg, .element-para, .element-header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    background-color: #fefefe;
}

/*---day 6 Cards (date 03/01/2021)---*/

.item{
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 40%;
    height: 50%;
    min-height: 50%;
    margin: 4%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,.5);
    background-color: #fff;
}

.item-bg{
    width: 100%;
    max-width: 100%;
    height: 20em;
    border-radius: 3%;
    background-image: url("assests/night1.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.angles{
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height: 2em;
    padding-top: 10px;
    transition: all 0.35 ease-in-out;
    background-color: #fff;
}

.item:hover .data{
    transform: translateY(10px);
}
.item:hover .dash{
    width: 30%;
}

.angles .left{
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    height: 3em;
    z-index: 30;
    background-color: #fff;
    transition: all 2s ease-in-out;
    transform: skewY(8deg) translateY(-50px) ;

}

.angles .right{
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    height: 3em;
    z-index: 30;
    background-color: #ffffff;
    box-shadow: 0px -3px 5px 0px rgba(34,34,34,.15);
    transition: all 2s ease-in-out;
    transform: skewY(-8deg) translateY(-50px);

}

.item-header{
    display: block;
    padding: 10px ;
    padding-top: 0;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    transition: all 2s ease-in-out;
}

/*.dash{
    width: 0;
    margin: 10px;
    min-height: 2px;
    background-color: var(--primary-orange);
}
*/
.dash{
    width: 0%;
    margin: 15px;
    min-height: 2px;
    background-color: var(--primary-orange);
    transition: all 0.5s ease-in-out;
}
