@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
    --primary-black: #1b1612;
    --secondary-black: #383532;
    --primary-orange: #a35218;
    --yellow-orange: #f8a73f;
    --primary-beige:#e6dccc;
    --light-beige: #f5eee4;
    --gray-green: #b8b8ad;
}

body{
    display: block;
    margin: 0%;
    padding: 0%;
    background-color: aliceblue;
    color: var(--primary-black);
    font-family: 'Montserrat';
    background-color: var(--light-beige);
}

.nav{
    display: block;
    margin: 0%;
    padding: 0%;
    padding-bottom: 1rem ;
    margin-bottom: 1rem;
    color: var(--secondary-black);
    background-color: --light-beige;
    border-radius:0px 0px 20px 20px;
    width: 100%;
    box-shadow: 2px 2px var(--secondary-black);
}

.nav-brand{
    display: block;
    margin: 0%;
    padding-top: 1rem;
    padding-left: 1rem;
    color: var(--secondary-black);
    text-align: left;
    font-size: large;
}

#title{
    color: var(--secondary-black);
}

.container{
    margin: auto;
    padding: 3rem;
    text-align: left;
    max-width: 800px;
}

.unordered{
    list-style: none;
    text-align: left;
}

.section{
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: var(--gray-green);
}

.section-center{
    padding: 10vh;
    margin: 0%;
    width: 100%;
    background-color: var(--gray-green);
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--primary-black);   
}

.primary-bt{
    text-decoration: none;
    color: var(--primary-beige);
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--primary-black);
    background-color: var(--primary-black);
    border-radius: 10px;
}

.parallax{
    background-image: url('assests/parallax.png');
    background-attachment: fixed;
    background-position: center center ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 500px;
}

.te{
    min-height: 800px;
    background-color: aliceblue;
}

.parallax-text{
    position: relative;
    top: 50%;
    text-align: center;
    display: block;
    margin: auto;
    border: 4px solid var(--primary-beige);
    min-height: 300px;
    max-height: 500px;
    max-width: 800px;
    transform: translateY(90px);
    text-align: center;
}
#title-para{
    font-family: 'Montserrat';
    font-size: 2rem;

}

.title-brand{
    font-family: 'Shadows Into Light';
    font-size: 5rem;
}

.card{
    margin: auto;
    margin-top: 20px;
    max-height:300px;
    max-width: 800px;
    height: 300px;
    width: 800px;
    /*border: 3px solid var(--primary-beige);*/
    border-radius: 10px;
    text-align: center;
    transform-style:preserve-3d;
    transform: translateZ(0);
}

.card1{
    margin: auto;
    margin-top: 20px;
    max-height:300px;
    max-width: 800px;
    height: 300px;
    width: 800px;
    border: 3px solid var(--primary-beige);
    border-radius: 10px;
    text-align: center;
    transform-style:preserve-3d;
    transform: translateZ(0);
}

.card h1{
    transform: translateZ(200px);
}

.card1 h1{
    transform: translateZ(0px);
}

.paper-effect{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 100px 0 100px 0;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.title-brand-paper{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paper-effect span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    color: #740e33;
    position: relative;
    text-shadow: -1px 0 0 rgba(0,0,0,.2);
    font-size: 100px;
}

.paper-effect span::before{
    content: attr(data-title);
    position: absolute;
    top: 0; 
    left: 0;
    transform-origin: left;
    color: #fff;
    transition: .5s cubic-bezier(0,1.88,.83,.67);
    transform: rotateY(25deg);
    z-index: 2;
}

.paper-effect span::after{
    content: attr(data-title);
    position: absolute;
    top: 0; 
    left: 0;
    transform-origin: left;
    color: rgba(0,0,0,.1);
    transition: .5s cubic-bezier(0,1.88,.83,.67);
    transform: rotateY(5deg) scale(1.07, 1) skewY(3deg);
    z-index: 1;
    opacity: .5;
}

.paper-effect span:hover::before
{
    transform: perspective(1000px) rotateY(-45deg);
}
.paper-effect span:hover::after
{
    transform: rotateY(0deg) scale(1.11, 1) skewY(6deg);
}

.clipped{
    margin: 0;
    background: url('https://images.pexels.com/photos/1144687/pexels-photo-1144687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') fixed;
    -webkit-text-fill-color: transparent;
    background-clip:text;
    -webkit-background-clip: text;
    font-family: 'Montserrat';
    text-align: center;
}

.author{
    margin: 0;
    text-transform: uppercase !important;
    font-weight: bolder;
    font-size: 400px;
}

.input-color{
    padding: 2vh;
    margin: 2vh;
    text-align: center;
}

.input-color span{
    padding-right: 10vh;
}

#color{
    padding: 0.2vh;
    width: 5vh;
    height: 5vh;
    text-decoration: none;
    border-radius: 1vh;
    position: relative;
    border: none;
}

#bgcolor{
    padding: 0.2vh;
    width: 5vh;
    height: 5vh;
    text-decoration: none;
    border-radius: 1vh;
    border: none;
    
}

.change{
    padding: 2vh;
    margin: 5vh;
    background-color: var(--yellow-orange);
    border: none;
    border-radius: 1vh;
    color: #fff;
    font-size: medium;
}
/*---day 6 Cards (date 03/01/2021)---*/

.block{
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.element{
    width: 40%;    
    margin: 4%;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,.5);
}
.element:hover{
    box-shadow: 0px 30px 50px -15px rgba(0,0,0,.3);
    transform: translateY(-2px) translateZ(30px);
}

.element-bg{
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-top: 123%;
    
    background-size: cover;
    background-repeat: no-repeat;
}

.element-para{
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.52rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #505050;
}

.element-header{
    padding-top: 0.35em;
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-bottom: 0.65em;
    font-size: 2rem;
    color: #2b2b2b;
    font-weight: bold;
}

.element-bg, .element-para, .element-header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    background-color: #fefefe;
}

/*---day 7 Cards (date 04/01/2021)---*/

.item{
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 40%;
    height: 50%;
    min-height: 50%;
    margin: 4%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,.5);
    background-color: #fff;
}

.item-bg{
    width: 100%;
    max-width: 100%;
    height: 20em;
    border-radius: 3%;
    background-image: url("assests/night1.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.angles{
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height: 2em;
    padding-top: 10px;
    transition: all 0.35 ease-in-out;
    background-color: #fff;
}

.item:hover .data{
    transform: translateY(10px);
}
.item:hover .dash{
    width: 30%;
}

.angles .left{
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    height: 3em;
    z-index: 30;
    background-color: #fff;
    transition: all 2s ease-in-out;
    transform: skewY(8deg) translateY(-50px) ;

}

.angles .right{
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    height: 3em;
    z-index: 30;
    background-color: #ffffff;
    box-shadow: 0px -3px 5px 0px rgba(34,34,34,.15);
    transition: all 2s ease-in-out;
    transform: skewY(-8deg) translateY(-50px);

}

.item-header{
    display: block;
    padding: 10px ;
    padding-top: 0;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    transition: all 2s ease-in-out;
}

/*.dash{
    width: 0;
    margin: 10px;
    min-height: 2px;
    background-color: var(--primary-orange);
}
*/
.dash{
    width: 0%;
    margin: 15px;
    min-height: 2px;
    background-color: var(--primary-orange);
    transition: all 0.5s ease-in-out;
}

/*---day 8 nav-menu (date 05/01/2021)---*/

header{
    height: 80px;
    display: block;
}

.nav-menu{
    background: #010316e5;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.horizontal-list{
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.nav-tab{
    padding: 0px 28px;
    display: block;
    font-size: 18px;
    transition: background 0.3s;
    color: #eeeeee;
    text-decoration: none;
    box-sizing: border-box;
    height: 77px;
    padding-top: 25px;
}

.horizontal-list li{
    float: left;
    padding: 0px;
    height: 80px;
}

.active-tab{
    padding: 0;
    margin: 0;
    height: 3px;
    min-height: 4px;
    width: 0%;
    transition: all step-end;
    background-color:  #010316e5; 
}

.horizontal-list li:hover{
    background-color:  #010316b2;
} 

.horizontal-list li:hover .active-tab{
    width: 100%; 
    background-color: rgb(163, 255, 255);
} 


/*---day 9 Profile Cards (date 07/01/2021)---*/

.fig{
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 30%;
    min-height: 50%;
    width: 30%;
    color: #fefefe;
    text-align: center;
    background-color: #141414;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,.5);
}

.fig-background{
    width: 100%;
    object-fit: cover;
    vertical-align: center;
    opacity: 0.8;
    filter: grayscale(10%) blur(10px);
    -webkit-filter:  grayscale(100%) blur(10px);
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
}

.fig-profile-pic{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    min-width: 50px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    object-fit: cover;
}

figcaption h3{
    font-size: 20px;
    margin: 0 0 5px;
    padding-top: 20px;
    font-weight: 400;
}

figcaption h3 span{
    display: block;
    padding-top: 10px;
    font-size: 12px;
    color: rgb(238, 196, 119);
    opacity: 0.85;
}

figcaption a{
    text-decoration: none;
}

figcaption i{
    padding: 10px 5px;
    padding-bottom: 20px;
    display: inline-block;
    font-size: 32px;
    color: #fff;
    opacity: 0.59;
    text-align: center;
}

.fig:hover .fig-background{
    transform: scale(1.5);
}

figcaption i:hover {
    opacity: 1;
}

/*---day 10 flexible Cards (date 08/01/2021)---*/

.flexible-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 500px;
    max-width: 800px;
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 50px 10px 50px 10px ;
}

.flexible-option.active{
    width: 550px !important;
    flex-grow: 10000;
    transform: scale(1);
    max-width: 500px;
    margin: 0;
    border-radius: 40px;
    background-size: auto 100%;
}

.flexible-option{
    position: relative;
    overflow: hidden;
    min-width: 55px;
    width: 55px;
    margin: 10px;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
    transition: 0.1s cubic-bezier(0.67, 0.99, 0.7, 1.01);
    border-radius: 40px;
    box-sizing: border-box;
    box-shadow: 3px 5px 15px -5px #2b2b2b;
}


.flexible-container .flexible-option.active .option-label{
    display: flex;
    position: absolute;
    height: 55px;
    transition: 0.1s cubic-bezier(0.67, 0.99, 0.7, 1.01);
    bottom: 20px;
    left: 20px;
}

.option-label{
    display: flex;
    position: absolute;
    height: 55px;
    transition: 0.1s cubic-bezier(0.67, 0.99, 0.7, 1.01);
    bottom: 2px;
    left: 3px;
    width: 450px;
}

.flexible-option .option-label .option-label-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    color: #740e33;
    padding-left: 10px;
}

.flexible-option.active .option-label .caption{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    color: #eeeeee;
    white-space: pre;
    width: 400px;
}

.flexible-option .option-label .caption{
    display: none;
    margin-left: 10px;
    color: #eeeeee;
    width: 400px;
}

.flexible-option.active .option-label .caption .option-label-header{
    line-height: 15px;
    left: 0px;
    opacity: 1;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    transition: 0.1s cubic-bezier(0.67, 0.99, 0.7, 1.01) opacity 0.5s ease;
    box-sizing: border-box;
    width: 400px;
    padding-top: 0;
    padding-left: 20px;
    align-self: flex-start;
    text-align: left;
}

.flexible-option.active .option-label .caption .option-label-para{
    line-height: 15px;
    left: 0px;
    opacity: 1;
    transition-delay: 0.1s;
    position: relative;
    transition: 0.1s cubic-bezier(0.67, 0.99, 0.7, 1.01) opacity 0.5s ease;
    box-sizing: border-box;
    width: 400px;
    padding-top: 0;
    padding-left: 20px ;
    align-self: flex-start;
    text-align: left !important;
    text-align: left;
}
/****************************8888*/
.flexible-option:hover {
    width: 550px !important;
    flex-grow: 10000;
    transform: scale(1);
    max-width: 500px;
    margin: 0;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow: 3px 5px 15px -5px #2b2b2b;
}

.flexible-option:hover .option-label .caption .option-label-para{
    line-height: 15px;
    left: 0px;
    opacity: 1;
    transition-delay: 0.1s;
    position: relative;
    transition: 0.1s cubic-bezier(0.67, 0.99, 0.7, 1.01) opacity 0.5s ease;
    box-sizing: border-box;
    width: 400px;
    padding-top: 0;
    padding-left: 20px ;
    align-self: flex-start;
    text-align: left !important;
    text-align: left;
}

.flexible-option:hover .option-label .caption .option-label-header{
    line-height: 15px;
    left: 0px;
    opacity: 1;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    transition: 0.1s cubic-bezier(0.67, 0.99, 0.7, 1.01) opacity 0.5s ease;
    box-sizing: border-box;
    width: 400px;
    padding-top: 0;
    padding-left: 20px;
    align-self: flex-start;
    text-align: left;
}

.flexible-option:hover .option-label .caption{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    color: #eeeeee;
    white-space: pre;
    width: 400px;
}

.flexible-container .flexible-option:hover .option-label{
    display: flex;
    position: absolute;
    height: 55px;
    transition: 0.1s cubic-bezier(0.67, 0.99, 0.7, 1.01);
    bottom: 20px;
    left: 20px;
}

/*---day 11 Accordion (date 09/01/2021)---*/

.accordion-container{
    width: 100%;
    max-width: 25rem;
    padding: 2rem;
    margin: 3rem auto;
    background: #222;
    border-radius: 1rem;
    border: 1px solid#222;
    box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.55);
}

.accordion-element{
    background-color: #333;
    color: #eeeeee;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: 1px solid #222;
    text-align: left;
    outline: none; 
    transition: all 0.5s ease-out;
    box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.80);
}

.accordion-element:first-child{
    border-radius: 1rem 1rem 0 0;
}

.accordion-element:nth-last-child(1){
    border-radius: 0 0 1rem 1rem;
}

.active-accordion-element{
    background-color: rgba(206, 30, 65, 0.801);
}

.accordion-element:hover{
    background-color: rgba(206, 30, 65, 0.801);
}
.accordion-element::after{
    content: "\002B";
    color: #eeeeee;
    font-weight: bold;
    float: right;
    margin-left: 0.5rem;
}

.active-accordion-element{
    content: "\2212";
}

.accordion-content{
    padding: 0 1rem;
    background-color: #222;
    color: #aaa;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/*---day 12 Post (date 10/01/2021)---*/

.post-container{
    display: block;
    margin: auto;
    padding: 30px;
    width: 600px;
    text-align: center;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px -5px #505050 ;
    background-color: #ffffff;
    border-radius: 20px;
}

.post{
    color: #727171;
    font-weight: bolder;
    text-align: left;
}

.post div i{
    text-align: center;
    padding: 8px;
    margin-right: 10px;
    color: cornflowerblue;
    background-color: rgba(218, 218, 218, 0.25);
    border-radius: 50%;
}

.post div {
    display: flex;
    align-items: center;
}

.post-content{
    border: 1px solid rgba(185, 184, 184, 0.253);
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-content: flex-start;
    height: 12vh;
}

.post-content .profile-img{
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-content .input-post{
    margin-top: 10px;
    border: none;
    width: 100%;
    height: 80%;
    color: darkgrey;
    padding-left: 10px;
    font-family: 'Montserrat';
}

.feature{
    margin-top: 20px;
    padding: 15px;
    color: darkolivegreen;
    border-radius: 30px;
    background-color:rgba(100, 148, 237, 0.202);
    margin-right: 25px;
    align-items: center;
}

.feature div{
    font-size: 11px;
    font-weight: bolder;
    color: #505050;
}

.features-list{
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.feature div i{
    padding: 5px;
    margin: auto;
    color: #eee;
    border-radius: 50%;   
    margin-right: 5px;
    background-color: cornflowerblue;
}

.feature.more{
    background-color: rgba(185, 184, 184, 0.253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
}

.more div {
    min-width: 5px;
    width: 5px;
    min-height: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #383532;
    display: block;
    margin: 3px;
}

.feature:nth-child(1){
    background-color: rgba(255, 118, 118, 0.286);
}
.feature:nth-child(1) div i{
    background-color:  rgba(255, 118, 118, 0.96);
}

.feature:nth-child(3){
    background-color: rgba(245, 188, 24, 0.223);
}
.feature:nth-child(3) div i{
    background-color:  rgb(248, 188, 24);
}

/*---day 13 Connect Button (date 11/01/2021)---*/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.connect-button{
    width: 250px;
    height: 100px;
    background-color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 40px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;    
    position: relative;
    cursor: pointer;
    transition: .2s linear;
    box-shadow: 0 0 40px rgba(0,0,0,0.3), inset 5px 2px 10px rgba(7, 2, 2, 0.3);
} 

.connect-button:hover{
    transform: scale(1.1);
}

.connect-button span{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #051e24;
    color: #f1f1f1;
    text-transform: uppercase;
    text-align: center;
    z-index: 999;
    font-size: 30px;
    transition: 0.5s linear;
    border-radius: 40px;
}

.connect-button:hover span{
    transform: translateX(-100%);
    transition-delay: .3s;
    padding: 0;
}

.connect-button a{
    padding: 5px;
    flex: 1;
    font-size: 20px;
    color: #2b2b2b;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
}

.connect-button:hover a{
    opacity: 1;
    transform: translateX(0);
}

.connect-button a:nth-of-type(1){
    transition-delay: 1s;
}

.connect-button a:nth-of-type(2){
    transition-delay: 0.8s;
}

.connect-button a:nth-of-type(3){
    transition-delay: 0.5s;
}

.connect-button a:nth-of-type(4){
    transition-delay: 0.4s;
}

/*---day 14 Audio Player (date 14/01/2021)---*/
.audio-player{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 65px;
    align-items: center;
    align-self: center;
    color: #eee;
    background-color: #333;
    box-shadow: 0px 0px 20px 0px #333;
    padding: 10px;
    overflow: hidden;
}

.audio-player .timeline{
    background-color: #fff;
    width: 100%;
    height: 4px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
}

.audio-block .timeline{
    background-color: rgb(206, 206, 206);
    width: 100%;
    height: 4px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(133, 133, 133, 0.533);
}

.progress{
    background: hsl(337, 84%, 13%);
    width: 0%;
    height: 100%;
    transition: 0.2s;
}

.controls{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0 20px;
    padding: 0 0 15px 0 ;
}

.feat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 20px;
}

.play, .track, .play-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.play, .pause{
    cursor: pointer;
    position: relative;
    content: "";
}

.forward, .backward{
    color: rgb(133, 133, 133);
    cursor: pointer;
}

.play i{
    padding: 0px 0 5px 0;
}
.play:hover ,.play-toggle:hover, .pause:hover {
    transform: scale(1.1);
}

.time{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.current, .track, .length{
    padding: 5px;
}

/*---day 15 Audio Player (date 15/01/2021)---*/

.audio-block{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
    overflow: hidden;
    margin: auto;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fdfdf9;
    box-shadow: 0 0 20px -5px #202020;
}
.audio-block h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 4px;
    margin: 15px;
}
.audio-block h4{
    line-height: 2px;
    margin: 15px;
    color: #505050;
}

.track-image-c{
    width: 150px;
    height: 150px;
    padding: 10px 0 0 0;
    margin: auto;
}

.track-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px 5px rgba(0,0,0,.5);
}

.rotate{
    animation: rotatePlayer 5s linear infinite;
}

@keyframes rotatePlayer{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

